<div class="row">
    <div class="col-8">
        <img src="/images/tigger.jpg">
    </div>
    <div class="col-4">
        <p class="err_msg">Oops! Something went<br>wrong, or the page you are<br>looking for is not available.</p>
    </div>
</div>