<div class="row">
    <div class="col-8">
        <img src="/images/piglet.jpg">
    </div>
    <div class="col-4">
        <p class="thanks_msg">Thank you for registering<br>for our Website. and<br>look forward to seeing you!</p>
    </div>
</div>