* {
    margin: 0;
    padding: 0;
}

/* layout.ejs */
header {
    width: 100%;
    height: 120px;
    background-color: rgb(235, 207, 252);
    text-align: center;
}

/* contact.ejs */
#form {
    margin-top: 50px;
}