* {
    margin: 0;
    padding: 0;
}

img {
    width: 850px;
    height: auto;
}

/* layout.ejs */
header {
    width: 100%;
    height: 120px;
    background-color: rgb(235, 207, 252);
    text-align: center;
}

/* contact.ejs */
#form {
    margin-top: 20px;
}

/* error.ejs */
.err_msg {
    font-size: 1.5rem;
    font-weight: bold;
}

/* thanks.ejs */
.thanks_msg {
    font-size: 1.5rem;
    font-weight: bold;
}